.input-group {
    padding-bottom: 15px;
}

#update_id:before {
    content: "task_id：";
}

.navbar-header {
    cursor: default;
}

.submit-table-background {
    margin-top: 20px;
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
}

#submit_table > caption {
    text-align: center;
}
