.index-page .header-filter:after {
    background-color: #00b0ff;
}

.navbar-color-on-scroll {
    background-color: #0d47a1;
}

.wrapper {
    text-align: center;
}

.task {
    margin: 20px auto auto;
    background-color: white;
    width: 50%;
    height: 300px;
}

.task_id {
    color: #90a4ae;
    position: absolute;
    top: 10px;
    left: 10px;
}

.subject {
    position: absolute;
    top: 5%;
    right: 5%;
}

.title {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 3%;
    left: 10%;
}

.content {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 5px;
    border: 3px solid #99CCFF;
    text-align: left;
}

.content > p {
    margin: 5px;
    text-indent: 1.5em;
    word-wrap: break-word
}

.submit_div {
    position: absolute;
    bottom: 7%;
    right: 0;
    width: 30%;
    text-align: center;
}

.deadline {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.submitFileName {
    position: absolute;
    bottom: 40%;
    right: 0;
    width: 30%;
    text-align: center;
}

.submitFileName > form {
    padding: 4px 10px;
    height: 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.submitFileName > form > [type = "file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: 100;
}

.submitFileName > form:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}

.template {
    display: none;
}

.copyright {
    cursor: default !important;
}

.kane,
.kane:hover {
    text-decoration: none;
    cursor: default !important;
    color: black !important;
}
