<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}" content=""/>

    <title>ADMIN</title>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <link href="css/main.css" rel="stylesheet">
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="css/admin.css" rel="stylesheet">
</head>

<body>

<main>
    <h3>ADMIN</h3>
    <br/>
    <button id="logout">注销</button>

    <div id="addTask">
        <label for="subject">科目</label><input id="subject">
        <label for="title">标题</label><input id="title">
        <label for="content">内容</label><textarea id="content"></textarea>
        <label for="date">期限</label><input id="date">
        <button id="task">添加</button>
    </div>

    <div id="addUser">
        <label for="name">姓名</label><input id="name">
        <label for="code">编号</label><input id="code">
        <button id="user">添加</button>
    </div>

    <div id="batchUser">
        <input type="file" id="batch_file">
        <button id="batch_user">添加</button>
    </div>
</main>

<script src="js/main.js"></script>
</body>
</html>